.fixed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header{
  padding: 10px 16px;
  background: #f1f1f1;
  color: #555;
}
.btn{
  background: #fff;
  color: #555;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: 10%;
  border-radius: 5px;
}

.btn:hover {
  background-color: #555;
  color: white;

}